html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;

}

h1 {
    font-size: 2rem;
    text-align: center;
}

#map {
    height: 60vh;
}

.gm-style-iw-d {
    color: black;

}